* {
  box-sizing: border-box;
}

body {
  background: #6d7e92;
  color: #fff;
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

H1 {
  margin: 20px 0px 0px;
  font-size: 50px;
  text-shadow: 2px 2px 2px #354961;
}

.jeu-contenant {
  padding: 20px 30px;
  margin: auto;
  height: 350px;
  width: 450px;
  position: relative;
}

.figure-contenant {
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;

  fill: transparent;
}

.figure-partie {
  /*display: none;*/
}

.mauvaises-lettres-contenant {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.mauvaises-lettres-contenant p {
  margin: 0 0 5px;
}

.mauvaises-lettres-contenant span {
  font-size: 24px;
}

.mot {
  display: flex;
  position: absolute;
  bottom: 10;
  left: 50px;
  transform: translateX(-50%);
}

.lettre {
  border-bottom: 3px solid #354961;
  display: inline flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  width: 20px;
}

.popup-contenant {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #21364e;
  border-radius: 5px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background: #fff;
  column-rule: #354961;
  border: 0;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-contenant {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -80px;
  transition: transform 0.3s ease-in-out;
}

.notification-contenant.afficher {
  transform: translateY(-80px);
}
